<div class="et-slider">
	<div class="slider-bg">Dragan Filipović</div>
    <div id="mixedContent" >
        <div class="contentBox mix category_1"> 
        	<a href="#web" class="slide uk-overlay"  data-uk-modal >
        		<img alt="portfolio image" data-size="400x200" src="images/portfolio/easing-reggae.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#web" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="400x200" src="images/portfolio/easing-book.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_2"> 
        	<a href="#kurs" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="300x300" src="images/portfolio/kurs1.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#kurs" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="300x100" src="images/portfolio/kurs3.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_3"> 
        	<a href="#aktivizam" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="400x300" src="images/portfolio/aktivizam11.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#aktivizam" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="400x100" src="images/portfolio/aktivizam4.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_1"> 
        	<a href="#web" class="slide uk-overlay"  data-uk-modal>
        		<img alt="portfolio image" data-size="400x200" src="images/portfolio/easing-eco.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#web" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="400x200" src="images/portfolio/easing-edu.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_3"> 
        	<a href="#aktivizam" class="slide uk-overlay"  data-uk-modal>
        		<img alt="portfolio image" data-size="200x300" src="images/portfolio/aktivizam5.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#aktivizam" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="200x100" src="images/portfolio/aktivizam2.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox  mix category_1 " > 
        	<a href="#web" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="400x100" src="images/portfolio/easing-one.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#web" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="400x300" src="images/portfolio/easing-radio.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_2" > 
        	<a href="#kurs" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="300x200" src="images/portfolio/kurs2.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#kurs" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="300x200" src="images/portfolio/kurs4.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_3"> 
        	<a href="#aktivizam" class="slide uk-overlay"  data-uk-modal>
        		<img alt="portfolio image" data-size="300x300" src="images/portfolio/aktivizam7.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#aktivizam" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="300x100" src="images/portfolio/aktivizam10.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_1"> 
        	<a href="#web" class="slide uk-overlay"  data-uk-modal >
        		<img alt="portfolio image" data-size="400x200" src="images/portfolio/easing-base.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#web" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="400x200" src="images/portfolio/easing-access.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_2"> 
        	<a href="#kurs" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="300x300" src="images/portfolio/seo-kurs-google.png">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a  class="slide uk-overlay">
        		<img alt="portfolio image" data-size="300x100" src="images/escheresque_ste.png" >
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_3"> 
        	<a href="#aktivizam" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="200x300" src="images/portfolio/aktivizam6.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#aktivizam" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="200x100" src="images/portfolio/aktivizam66.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox  mix category_1 " > 
        	<a  class="slide uk-overlay" >
        		<img alt="portfolio image" data-size="400x100" src="images/escheresque_ste.png" >
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#web" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="400x300" src="images/portfolio/easing-edu-2.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_3"> 
        	<a href="#aktivizam" class="slide uk-overlay"  data-uk-modal>
        		<img alt="portfolio image" data-size="300x300" src="images/portfolio/aktivizam1.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#aktivizam" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="300x100" src="images/portfolio/aktivizam12.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_2" > 
        	<a href="#aktivizam" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="300x200" src="images/portfolio/diploma3.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#kurs" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="300x200" src="images/portfolio/kurs7.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_3"> 
        	<a href="#aktivizam" class="slide uk-overlay"  data-uk-modal>
        		<img alt="portfolio image" data-size="200x300" src="images/portfolio/aktivizam3.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a class="slide uk-overlay" >
        		<img alt="portfolio image" data-size="200x100" src="images/escheresque_ste.png" >
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
        <div class="contentBox mix category_2" > 
        	<a class="slide uk-overlay" >
        		<img alt="portfolio image" data-size="400x100" src="images/escheresque_ste.png" >
        		<div class="uk-overlay-area"></div>
        	</a>
        	<a href="#kurs" class="slide uk-overlay" data-uk-modal>
        		<img alt="portfolio image" data-size="400x300" src="images/portfolio/kurs6.jpg">
        		<div class="uk-overlay-area"></div>
        	</a>
        </div>
       <div class="gap"></div>
    </div>

</div>
